/* COLOR variables*/

:root {
    --primary: #36393f;
    --secondary: #2f3136;
    --tertiary: rgb(32,34,37);
    --quaternary: #292b2f;
    --quinary: #393d42;
    --senary: #828386;
    
    --white: #fff;
    --gray: #8a8c90;
    --chat-input: rgb(64,68,75);
    --symbol: #74777a;

    --notification: #f84a4b;
    --discord: #6e86d6;
    --mention-detail: #f9a839;
    --mention-message: #413f3f;

    --link: #5d80d6;

    --rocketseat: #6633cc;
  }

/* general RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
}

*, button, input {
    font-family: 'Roboto', sans-serif;
    border: 0;
    outline: 0;
}

/* main GRID*/

.container {
display: grid;
height: 100%;
grid-template-columns: 71px 240px auto 240px;
grid-template-rows: 46px auto 52px;

grid-template-areas: "server-list server-name channel-name channel-name"
                        "server-list channel-list messages user-list"
                        "server-list user-info messages user-list";
}

/*SCROLL*/

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--tertiary);
    border-radius: 4px;
}

::-webkit-scrollbar-track {
    background-color: var(--secondary);
}

/*SERVER LIST*/

.server-list {
    display: flex;
    flex-direction: column;
    grid-area: server-list;
    overflow-y: scroll;
    background-color: var(--tertiary);
    align-items: center;
    padding: 11px 0 0 0;
}

.server-list::-webkit-scrollbar {
    display: none;
  }

.server-list .separator {
    width: 32px;
    border-bottom: 2px solid var(--secondary);
    margin-bottom: 10px;
}

.server-button {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-color: var(--secondary);
    margin-bottom: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.server-button:hover {
    border-radius: 16px;
    background-color: var(--discord);
    transition: background-color .2s;
}

.server-button:first-child {
    border-radius: 16px;
    background-color: var(--discord);
}

.server-button:first-child img {
    width: 30px;
    height: 30px;
}

.notification {
    height: 20px;
    width: 20px;
    border: 4px solid var(--tertiary);
    border-radius: 50%;
    background-color: var(--notification);
    position: absolute;
    left: 31px;
    top: 32px;
}

.unread-messages {
    height: 9px;
    width: 9px;
    border-radius: 50%;
    background-color: var(--white);
    position: absolute;
    left: -17px;
}

.server-button:hover .unread-messages {
    height: 20px;
    border-radius: 5px;
}

/*SERVER NAME*/

.server-name {
    display: flex;
    grid-area: server-name;
    background-color: var(--secondary);
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 0px 0px;  
    z-index: 2;
}

.server-name h1 {
    font-size: 16px;
    font-weight: bold;
    color: var(--white);
}

.server-name i {
    font-size: 14px;
    color: var(--white);
    cursor: pointer;
}

/*CHANNEL NAME*/

.channel-name {
    display: flex;
    grid-area: channel-name;
    background-color: var(--primary);
    align-items: center;
    padding: 0 17px; 
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 0px 0px;  
    z-index: 2;
}

.channel-name i {
    font-size: 22px;
    color: var(--symbol);
}

.channel-name h2 {
    font-size: 16px;
    font-weight: bold;
    color: var(--white);
    margin: 0 9px;
}

.channel-name .separator {
    height: 24px;
    border-right: 1px solid #42454B;
    margin-right: 9px;
}

.channel-name span {
    color: var(--white);
    opacity: 0.7;
    font-size: 15px;
}

/*CHANNEL LIST*/

.channel-list {
    display: flex;
    flex-direction: column;
    grid-area: channel-list;
    background-color: var(--secondary);
    padding: 24px 8px;
}

.channel-category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 9px 0;
    color: var(--senary)
}

.channel-category h2 {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 14px;
}

.channel-category h2:hover {
    color: var(--white)
}

.channel-category h2 i {
    font-size: 8px;
    margin-right: 3px;
    margin-left: -3px;
}

.channel-category i:hover {
    color: var(--white)
}

.channel {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    margin-bottom: 3px;
    cursor: pointer;
}

.channel-list-name {
    display: flex;
}

.channel-list-name i {
    font-size: 20px;
    color: var(--symbol);
    margin-right: 8px;
}

.channel h3 {
    display: flex;
    color: var(--senary);
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;

}

.channel .channel-controls {
    display: none;
    color: var(--senary);
}

.channel .channel-controls i {
    font-size: 12px;
    line-height: 18px;
    margin: 0 3px;
}

.channel .channel-controls i:hover {
    color: var(--white);
}

.channel:hover {
    background-color: var(--primary);
    border-radius: 3px;
}

.channel:hover h3 {
    color: var(--white);
}

.channel:hover .channel-controls {
    display: flex;
}

.channel-list .active {
    background-color: var(--quinary);
    border-radius: 3px;
}

.channel-list .active h3 {
    color: var(--white);
}

.channel-list .active .channel-controls {
    display: flex;
}

/*USER INFO*/

.user-info {
    display: flex;
    grid-area: user-info;
    background-color: var(--quaternary);
    justify-content: space-between;
    align-items: center;
    padding: 0 5px 0 10px;
}

.user-profile {
    display: flex;
}

.user-picture {
    height: 32px;
    width: 32px;
    background-color: #CACACA;
    border-radius: 50%;
    margin-right: 9px;
}

.user-name {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    line-height: 15px;
    color: var(--senary);
}

.user-name > spam {
    font-weight: bold;
    color: var(--white);
}

.user-controls i {
    font-size: 15px;
    color: var(--senary);
    padding: 5px;
}

.user-controls i:first-child {
    padding: 5px 8px;
}

.user-controls i:hover {
    color: var(--white);
    background-color: var(--secondary);
    border-radius: 3px;
}

/*MESSAGES*/

.messages {
    display: flex;
    flex-direction: column;
    grid-area: messages;
    background-color: var(--primary);
    justify-content: space-between;
    height: calc(100vh - 46px);
}

.message-log {
    overflow-y: scroll;
    height: inherit;
}

.individual-message {
    display: flex;
    padding: 2px 16px;
    align-items: center;
    margin-top: 17px;
}

.individual-message:hover {
    background-color: var(--quinary);
}

.sender-pic {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: var(--secondary);
    margin-right: 16px;
}

.message-body {
    display: flex;
    flex-direction: column;
}

.sender-info {
    display: flex;
    color: var(--white);
    font-size: 16px;
    line-height: 19px;
    align-items: baseline;
    font-weight: bold;
}

.sender-info > spam {
    color: var(--senary);
    font-size: 13px;
    margin-left: 5px;
    font-weight: normal;
}

.message-content {
    color: var(--white);
    font-size: 16px;
    line-height: 19px;
}

.input-area {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    padding: 0 16px;
}

.message-input {
    width: 100%;
    background-color: var(--chat-input);
    height: 44px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    padding: 0 16px;
}

.message-input i {
    color: var(--symbol);
    font-size: 20px;
    margin-right: 16px;
}

.message-input i:hover {
    color: var(--white);
}

.message-input input {
    background-color: var(--chat-input);
    width: 100%;
    color: var(--white);
}

/*USER LIST*/

.user-list {
    display: flex;
    flex-direction: column;
    grid-area: user-list;
    background-color: var(--secondary);
    padding: 24px 16px;
    overflow-y: hidden;
}

.user-list:hover {
    overflow-y: scroll;
}

.user-status h2 {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 14px;
    color: var(--senary);
    margin-bottom: 3px;
}

.channel-user {
    display: flex;
    align-items: center;
    padding: 8px;
    margin-bottom: 3px;
    cursor: pointer;
}

.channel-user h3 {
    font-weight: normal;
}

.channel-user:hover {
    background-color: var(--primary);
    border-radius: 3px;
}

.channel-user:hover h3 {
    color: var(--white)
}